<nav class="navbar d-flex bg-secondary">
    <div class="nav container d-flex ">
        <a class="logo" href="index.html"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="nav-menu d-flex align-items-center">
            <li class="nav-menu-item"><a class="fs-8 text-light ps-9" href="#">系列鏡框</a></li>
            <li class="nav-menu-item"><a class="fs-8 text-light ps-9" href="#">門市據點</a></li>
            <li class="nav-menu-item"><a class="fs-8 text-light ps-9" href="#">部落格</a></li>
            <li class="nav-menu-item"><a class="fs-8 text-light ps-9" href="#">常見問題</a></li>
        </ul>
    </div>
</nav>